
<%= link_to 'them category', new_category_path, class: 'btn btn-primary ' %>
<%= link_to 'tao moi sach', new_book_path, class: 'btn btn-primary ' %>

<table id = "customers">
	<tr>
		<th>
			Tên Sách
		</th>
		<th>
			Tác Giả
		</th>
		<th>
			Mô Tả
		</th>
		<th>
			Category
		</th>
	</tr>
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td>
					<%= link_to book.name, book_path(book) %>
				</td>
				<td>
					<%= book.author %>
				</td>
				<td>
					<%= book.des %>
				</td>
				<td>
					<% book.categories.each do |category| %> 
						<%= category.cate %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
